<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <div class="row">
           <a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Local Login</a>
           <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        </div>
        <div class="row">
           <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
           <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
           <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
        </div>
    </div>

    <br>
    <div class="text-center">
        <p>Original demo by <a href="http://scotch.io">Scotch</a>. Visit the <a href="http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local">tutorial</a>, or check out the <a href="https://github.com/scotch-io/easy-node-authentication">source code</a>.</p>
        <p>Modified by <a href="http://neverendingqs.com/">neverendingqs</a> (<a href="https://github.com/neverendingqs/easy-node-authentication">forked repository</a>) for a <a href="https://www.heroku.com/">Heroku</a> and <a href="https://mongolab.com/">MongoLab</a> deployment.</p>
    </div>

</div>
</body>
</html>
